shardingsphere-plus-spring/src/main/resources/META-INF/shardingsphereplus-spring.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:tool="http://www.springframework.org/schema/tool"
            xmlns="http://shardingsphereplus.com/schema/shardingplus-spring"
            targetNamespace="http://shardingsphereplus.com/schema/shardingplus-spring">
    <xsd:element name="datasource">
        <xsd:annotation>
            <xsd:documentation>
                <![CDATA[datasource config]]>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:ID">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ The unique identifier for a bean. ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="db-server" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <![CDATA[db server, domain or ip]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="logic-dbname" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <![CDATA[logic database name]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="server-timezone" type="xsd:string" default="Asia/Shanghai">
                <xsd:annotation>
                    <xsd:documentation>
                        <![CDATA[serverTimezone]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="character-encoding" type="xsd:string" default="utf8">
                <xsd:annotation>
                    <xsd:documentation>
                        <![CDATA[database character encoding]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="rewrite-batched-statements" type="xsd:boolean" default="true">
                <xsd:annotation>
                    <xsd:documentation>
                        <![CDATA[whether to enable rewrite batched statements]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="username" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <![CDATA[username for database]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="password" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <![CDATA[password for database]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="logic-table" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <![CDATA[logic table with line expression]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="read-datasource" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        <![CDATA[read database]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="write-datasource" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        <![CDATA[write database]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="sharding-datasource" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        <![CDATA[sharding datasource with line expression]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="sharding-column" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        <![CDATA[sharding columns with line expression]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="sharding-table-algorithm-name" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        <![CDATA[sharding columns with line expression]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="join-delimiter" type="xsd:string" default="_">
                <xsd:annotation>
                    <xsd:documentation>
                        <![CDATA[what sharding partition concat with]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="table-partition-num" type="xsd:string" default="2">
                <xsd:annotation>
                    <xsd:documentation>
                        <![CDATA[table partition number]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="sql-show" type="xsd:boolean" default="false">
                <xsd:annotation>
                    <xsd:documentation>
                        <![CDATA[whether to print sql]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>